* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6dfdf;
}

.card {
    box-shadow: 0px 4px 21px -12px rgba(0, 0, 0, 0.79);
    border-radius: 1rem;
    width: 35%;
    height: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}


.repo {
    min-height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: #c2c2c2 solid 1px;
    padding: 1rem 2rem 0 2rem;
    position: relative;
}

.repo-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

#visibility {
    border: #c2c2c2 solid 1px;
    border-radius: 30px;
    color: gray;
    background-color: white;
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    margin-left: 10px;
}

.desc {
    font-size: 90%;
}

.created {
    position: absolute;
    bottom: 10px;
    color: gray;
    font-size: 90%;
}

.repo-data a {
    text-decoration: none;
    color: #0084ff;
    font-weight: 600;
    letter-spacing: 1px;
}

.repo-data a:hover {
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem; 
    border: none;
    background-color: #dfdede;
    font-size: 1.8rem;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    text-decoration: none;
    color: black;
    z-index: 1;
}

.close-btn:hover {
    background-color: white;
}